.NavBarEmployee {
    padding-left: 5px;
    padding-right: 5px;
}

.NavBarEmployee {
    border-right: 1px solid black;
    max-width: 100px;
    padding-right: 10px;
    background-color: beige;
    display: grid;
    grid-template-rows: 46px 115px 115px 115px 115px 115px 46px;
}

li {
    list-style-type: none;
    padding: 5px;
    
}

a {
    cursor: pointer;
}
.NBEicon {
    max-width: 80px;
    max-height: 80px;
    padding: 5px ;
}

.NBEicon:hover {
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    background-color:  rgb(255, 207, 134);
    border-radius: 10px;
}